a {
    color: red;
    text-decoration: underline;
}

.jumbotron {
    padding: 30px 30px 40px 30px;
    margin: 0px auto;
    background: black;
    color: floralwhite;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 5px 0px;
}
